{% extends 'base.html.twig' %}

{% block title %}Edit Bien{% endblock %}

{% block body %}
    <h1>Edit Bien</h1>

    {{ include('bien_manage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bien_manage_index') }}">back to list</a>

    {{ include('bien_manage/_delete_form.html.twig') }}
{% endblock %}
