{% extends 'base.html.twig' %}

{% block title %}New Bien{% endblock %}

{% block body %}
    <h1>Create new Bien</h1>

    {{ include('bien_manage/_form.html.twig') }}

    <a href="{{ path('app_bien_manage_index') }}">back to list</a>
{% endblock %}
