{% extends 'base.html.twig' %}

{% block title %}BIEN{% endblock %}

{% block body %}

<div class="container marketing">
<!-- Three columns of text below the carousel -->
<div class="row">
    <h1 class="mb-2 mt-2">Nos Biens</h1>

    {% for bien in biens %}
        <div class="col-lg-4">
            {% if 'assets/images/'~bien.id~'.jpg' %}
                <img class="bd-placeholder-img rounded" width="270" height="200" src="{{ asset('assets/images/'~bien.id~'.jpg') }}" ></img>
            {% else %}

            {% endif %}
            <h4 class="mt-2">{{ bien.titre }}</h4>
            <p>{{ bien.descriptif }}</p>
            <p><a href="#" class="btn btn-primary">Go somewhere</a></p>
        </div><!-- /.col-lg-4 -->
    {% endfor %}
{% endblock %}

