{% extends 'base.html.twig' %}

{% block title %}Edit Favoris{% endblock %}

{% block body %}
    <h1>Edit Favoris</h1>

    {{ include('favoris_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_favoris_manager_index') }}">back to list</a>

    {{ include('favoris_manager/_delete_form.html.twig') }}
{% endblock %}
