{% extends 'base.html.twig' %}

{% block title %}Liste de Favoris{% endblock %}

{% block body %}
    <h1>Favoris index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Client</th>
                <th>Prenom Client</th>
                <th>Titre du Bien</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td>{{ favori.user.nom }}</td>
                <td>{{ favori.user.prenom }}</td>
                <td>{{ favori.bien.titre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_favoris_manager_new') }}">Create new</a>
{% endblock %}
